/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0; /* 更改為淺灰色背景 */
}

header {
  background: linear-gradient(135deg, #81d4fa, #4fc3f7);
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5em;
}


.menu-button, #toggleButton {
  background: #4fc3f7;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.social-sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #4fc3f7;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.social-sidebar h2 {
  color: #fff;
  margin-bottom: 10px;
}

.social-sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.social-sidebar a i {
  margin-right: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #4fc3f7;
  color: #fff;
}

footer p {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block; /* 改为 inline-block 以便控制宽度 */
  margin: 0 10px; /* 调整按钮间隔 */
}

nav ul li:last-child {
  margin-right: 0; /* 最后一个按钮取消右边距 */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* 添加过渡效果 */
.nav-menu {
  display: block;
  opacity: 0;
  pointer-events: none; /* 初始禁用点击事件 */
  transition: opacity 0.3s ease; /* 添加透明度过渡效果 */
}

.social-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease; /* 添加平移过渡效果 */
}

/* 社交链接侧边栏样式 */
.social-sidebar {
  background-color: #4fc3f7;
  color: #fff;
  width: 250px;
  padding: 20px;
  text-align: center;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.social-sidebar h2 {
  margin-bottom: 10px;
}

.social-sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s ease; /* 添加颜色过渡效果 */
}

.social-sidebar a:hover {
  color: #ccc;
}
